 <!--dashboard.component.html-->
 <div class="top-section">
    <app-top-widgets></app-top-widgets>
  </div>
  <div class="middle-section">
    <div class="widget left">
      <app-top10-punches-weekly></app-top10-punches-weekly>
    </div>
    <div class="widget right">
      <app-top10-punches-monthly></app-top10-punches-monthly>
    </div>
  </div>
  <div class="bottom-section">
    <div class="widget left">
      <app-top10-punches-yearly></app-top10-punches-yearly>
    </div>
    <div class="widget right">      
      <app-top10-punches-quarterly></app-top10-punches-quarterly>
    </div>
  </div>