<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets async="true">
		<target name="file" type="File" fileName="${basedir}/Logs/${shortdate}.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"/>
		<target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"/>
		<target xsi:type="File" name="logfile" fileName="c:\temp\${shortdate}.txt"
					layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
	
	</targets>
	<rules>
		<logger name="*" minLevel="Trace" writeTo="console"/>
		<logger name="*" minLevel="Trace" writeTo="file"/>
		<logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
	</rules>	
</nlog>